/*I will only provide the very basic styling neccesary to make the tab selection work properly. The rest is up to you.*/

/*TAB ELEMENTS*/
.tab-wrapper > * {cursor:pointer;}

/*CONTENT ELEMENTS*/
.content-wrapper > * {display: none;}

.content-wrapper > .active {display: block;}